/** @format */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.ja {
  /* text-align: center;
  display: flex;
  content: ' ' */
  content: ' ';
}

#root-div {
  width: 200px;
  height: 500px;
  background: #999;
  overflow: auto;
}

.editor-area {
  min-height: 500px;
}
